{#
    This template may be modified to customize the content of the subject line used in emails sent 
    to confirm that commenters want to subscribe to comments. Uses the Nunjucks templating language.
    More info - https://mozilla.github.io/nunjucks/
#}
Please confirm your subscription{% if options.parentName %} to "{{ options.parentName }}"{% if data.siteName %} on {{ data.siteName }}{% endif %}{% elif data.siteName %} to a page of {{ data.siteName }}{% endif %}