{#
    This template may be modified to customize the content of emails sent to notify subscribers
    when new comments are added. Uses the Nunjucks templating language. More info -
    https://mozilla.github.io/nunjucks/
#}
<html>
  <body>
    Dear human,<br>
    <br>
    You just subscribed to comment notifications{% if options.parentName %} on <em>{{ options.parentName }}</em>{% if data.siteName %}, on {{ data.siteName }}{% endif %}{% elif data.siteName %} on a page on <strong>{{ data.siteName }}</strong>{% endif %}.<br>
    <br>
    <a href="{{ confirmLink }}"><strong><!--confirmTextStart-->Please click here to confirm your subscription.<!--confirmTextEnd--></strong></a><br>
    <br>
    If you are not interested in receiving mail notifications for new comments, please <a href="%mailing_list_unsubscribe_url%">click here</a> to unsubscribe.<br>
    <br>
    See you soon,<br>
    -- <a href="https://keyboardplaying.org">Keyboard Playing</a>
  </body>
</html>
