{#
    This template may be modified to customize the content of emails sent to notify subscribers
    when new comments are added. Uses the Nunjucks templating language. More info -
    https://mozilla.github.io/nunjucks/
#}
<html>
  <body>
    Dear human,<br>
    <br>
    Someone commented on {% if options.parentName %}<em>{{ options.parentName }}</em>{% if data.siteName %} ({{ data.siteName }}){% endif %}{% else %}a page you subscribed to{% if data.siteName %} on <strong>{{ data.siteName }}</strong>{% endif %}{% endif %}.<br>
    <br>
    {% if options.origin %}<a href="{{ options.origin }}">Click here</a> to see it. {% endif %}If you do not wish to receive any further notifications for this page, <a href="%mailing_list_unsubscribe_url%">click here</a>.<br>
    <br>
    See you soon,<br>
    -- <a href="https://keyboardplaying.org">Keyboard Playing</a>
  </body>
</html>
