{#
    This template may be modified to customize the content of the subject line used in emails sent 
    to confirm that commenters want to subscribe to comments. Uses the Nunjucks templating language.
    More info - https://mozilla.github.io/nunjucks/
#}
Merci de confirmer votre inscription{% if options.parentName %} à "{{ options.parentName }}"{% if data.siteName %} sur {{ data.siteName }}{% endif %}{% elif data.siteName %} à une page de {{ data.siteName }}{% endif %}