{#
    This template may be modified to customize the content of emails sent to notify subscribers
    when new comments are added. Uses the Nunjucks templating language. More info -
    https://mozilla.github.io/nunjucks/
#}
<html>
  <body>
    Cher être humain,<br>
    <br>
    Vous venez de vous inscrire aux notifications pour les nouveaux commentaires{% if options.parentName %} sur <em>{{ options.parentName }}</em>{% if data.siteName %}, sur {{ data.siteName }}{% endif %}{% elif data.siteName %} sur une page de <strong>{{ data.siteName }}</strong>{% endif %}.<br>
    <br>
    <a href="{{ confirmLink }}"><strong><!--confirmTextStart-->Merci de confirmer votre inscription en cliquant ici.<!--confirmTextEnd--></strong></a><br>
    <br>
    Si vous ne voulez pas recevoir ces notifications pour les nouveaux commentaires, <a href="%mailing_list_unsubscribe_url%">cliquez ici</a> pour vous désinscrire.<br>
    <br>
    À bientôt,<br>
    -- <a href="https://keyboardplaying.org">Keyboard Playing</a>
  </body>
</html>
