{#
    This template may be modified to customize the content of emails sent to notify subscribers
    when new comments are added. Uses the Nunjucks templating language. More info -
    https://mozilla.github.io/nunjucks/
#}
<html>
  <body>
    Cher être humain,<br>
    <br>
    Quelqu'un a publié un commentaire sur {% if options.parentName %}<em>{{ options.parentName }}</em>{% if data.siteName %} ({{ data.siteName }}){% endif %}{% else %}une page à laquelle vous vous êtes abonné{% if data.siteName %} sur <strong>{{ data.siteName }}</strong>{% endif %}{% endif %}.<br>
    <br>
    {% if options.origin %}<a href="{{ options.origin }}">Cliquez ici</a> pour le voir. {% endif %}Si vous ne souhaitez plus recevoir de notifications pour cette page, <a href="%mailing_list_unsubscribe_url%">cliquez ici</a>.<br>
    <br>
    See you soon,<br>
    -- <a href="https://keyboardplaying.org">Keyboard Playing</a>
  </body>
</html>
