{#
    This template may be modified to customize the content of the subject line used in emails
    sent to notify subscribers when new comments are added. Uses the Nunjucks templating language.
    More info - https://mozilla.github.io/nunjucks/
#}
Nouveau commentaire{% if options.parentName %} sur "{{ options.parentName }}"{% if data.siteName %} ({{ data.siteName }}){% endif %}{% elif data.siteName %} sur {{ data.siteName }}{% endif %}
