{#
    This template may be modified to customize the content of the subject line used in emails sent 
    to confirm that commenters want to subscribe to comments. Uses the Nunjucks templating language.
    More info - https://mozilla.github.io/nunjucks/
#}
Bonvolu konfirmi vian abonon{% if options.parentName %} al "{{ options.parentName }}"{% if data.siteName %} en {{ data.siteName }}{% endif %}{% elif data.siteName %} al paĝo en {{ data.siteName }}{% endif %}