{#
    This template may be modified to customize the content of emails sent to notify subscribers
    when new comments are added. Uses the Nunjucks templating language. More info -
    https://mozilla.github.io/nunjucks/
#}
<html>
  <body>
    Kara homo,<br>
    <br>
    Vi ĵus abonis komentajn sciigojn{% if options.parentName %} sur <em>{{ options.parentName }}</em>{% if data.siteName %}, en {{ data.siteName }}{% endif %}{% elif data.siteName %} sur paĝo en <strong>{{ data.siteName }}</strong>{% endif %}.<br>
    <br>
    <a href="{{ confirmLink }}"><strong><!--confirmTextStart-->Bonvolu alklaki ĉi tie por konfirmi vian abonon.<!--confirmTextEnd--></strong></a><br>
    <br>
    Se vi ne interesas ricevi retpoŝtajn sciigojn pri novaj komentoj, bonvolu <a href="%mailing_list_unsubscribe_url%">alklaki ĉi tie</a> por malaboni.<br>
    <br>
    Ĝis baldaŭ,<br>
    -- <a href="https://keyboardplaying.org">Keyboard Playing</a>
  </body>
</html>
