{#
    This template may be modified to customize the content of emails sent to notify subscribers
    when new comments are added. Uses the Nunjucks templating language. More info -
    https://mozilla.github.io/nunjucks/
#}
<html>
  <body>
    Kara homo,<br>
    <br>
    Iu komentis {% if options.parentName %}<em>{{ options.parentName }}</em>{% if data.siteName %} ({{ data.siteName }}){% endif %}{% else %}paĝon, al kiu vi abonis{% if data.siteName %} en <strong>{{ data.siteName }}</strong>{% endif %}{% endif %}.<br>
    <br>
    {% if options.origin %}<a href="{{ options.origin }}">Alklaku ĉi tie</a> por vidi ĝin. {% endif %}Se vi ne volas ricevi plian sciigon pri ĉi tiu paĝo, <a href="%mailing_list_unsubscribe_url%">alklaku ĉi tie</a>.<br>
    <br>
    Ĝis baldaŭ,<br>
    -- <a href="https://keyboardplaying.org">Keyboard Playing</a>
  </body>
</html>
